{% extends 'base.html' %}

{% block content %}

<div>
    <h2>Entre em contato</h2>
</div>

<div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque minus tenetur neque fugit dignissimos omnis excepturi, debitis dolorum illo aliquid, explicabo fuga, fugiat cupiditate sunt id tempore ab accusantium. Eaque!</p>
</div>

<div>
    <form>
        <p class="form-item">

            <label for="email">Seu e-mail:</label>
            <input type="email" name="email" id="email">

        </p>
        
        <p class="form-item">

            <label for="assunto">Assunto:</label>
            <input type="assunto" name="assunto" id="assunto">

        </p>

        <p class="form-item">

            <label form="descricao">Descrição:</label>
            <textarea name="descricao" id="descricao"></textarea>

        </p>

        <p class="form-item">

            <input type="submit" value="Enviar">

        </p>

    </form>

</div>

{% endblock %}