{% extends 'base.html' %}

{% block content %}

<div>

    <img class="capa" src="{{ url_for('static', filename='images/capa.png')}}" alt="capa" height=414px>

    <h2>Sobre a universidade</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, eaque? Non consequatur, soluta veritatis accusamus vero omnis doloribus sapiente error quia saepe aspernatur culpa numquam deleniti, possimus amet. Sapiente, quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla libero aut, ut numquam ea obcaecati nobis maxime, aperiam incidunt illum fugit. Reiciendis sequi hic facere iste ipsa nulla officia autem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum natus iste a ut ipsum amet, doloremque incidunt eos voluptas quis nulla! Debitis officiis quaerat suscipit sint! Illo libero non in! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut sunt aliquam assumenda a magnam reprehenderit maiores rem nobis incidunt ipsa laborum voluptatum odio nemo error, quae tempora sint provident? Quia?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, eaque? Non consequatur, soluta veritatis accusamus vero omnis doloribus sapiente error quia saepe aspernatur culpa numquam deleniti, possimus amet. Sapiente, quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla libero aut, ut numquam ea obcaecati nobis maxime, aperiam incidunt illum fugit. Reiciendis sequi hic facere iste ipsa nulla officia autem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum natus iste a ut ipsum amet, doloremque incidunt eos voluptas quis nulla! Debitis officiis quaerat suscipit sint! Illo libero non in! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut sunt aliquam assumenda a magnam reprehenderit maiores rem nobis incidunt ipsa laborum voluptatum odio nemo error, quae tempora sint provident? Quia?</p>
</div>

{% endblock %}