{% extends 'base.html' %}

{% block content %}

<div class="div-quem-somos">

    <h2>Quem somos</h2>

    <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, natus. Quibusdam ex quam corporis sint officia autem at. Excepturi quibusdam velit eligendi sint. Vel delectus similique, suscipit laborum modi incidunt. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni fugiat maiores praesentium minima ullam voluptate aperiam tempora, eaque dicta ut distinctio optio provident eligendi est consequuntur eum similique, quidem aliquam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum vitae nobis quasi quas repudiandae, est voluptatem ipsa distinctio optio hic corrupti dolor, quibusdam sint architecto voluptatibus vel eius ad laborum. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem repellat maiores optio. Laborum dolor quas aspernatur. Labore delectus, eos hic animi excepturi eius aliquid obcaecati dolorem error reprehenderit, pariatur id!</p>


    <h2>5 motivos para estudar</h2>

    <ol type="1" style="margin-left: 150px;">
        <li>Material sempre atualizado</li>
        <li>Tablets em sala de aula</li>
        <li>Professores renomados</li>
        <li>Universidade bem avaliada</li>
        <li>Ótima localização</li>
    </ol>
    <hr style="margin-left: 150px;">
</div>

<div>

    <h2>Objetivos</h2>

    <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora magni odit debitis voluptates unde dolores fugiat eveniet. In nobis error, nemo maxime sapiente minima numquam assumenda eveniet id impedit saepe.
    Vel explicabo eos consectetur odio et debitis quam dolorum impedit quibusdam unde nemo sit pariatur sed tenetur perferendis, repellendus illum nesciunt? Mollitia sit odio, error ut vitae sequi eum suscipit!
    Ratione atque cumque, exercitationem magnam earum vero inventore voluptatum expedita iste ab amet, consectetur obcaecati laboriosam assumenda fuga, autem dolorum quaerat rem tenetur qui quam iure! Sequi unde eos maxime!
    Delectus magnam qui accusamus iusto nemo tempora quidem quia in quam totam, deleniti veniam enim laborum nesciunt officia! Excepturi recusandae explicabo magni voluptates deleniti illum deserunt aspernatur, in omnis sint.</p>

</div>

{% endblock %}