<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <img src="../static/images/logo.png" alt="university-logo">

        <a href="{{ url_for('./', 'index.html')}}">Home | </a>
        <a href="{{ url_for('./', 'whoweare.html')}}">Quem somos</a>
        <a href="{{ url_for('./', 'contact.html')}}">Contato</a>

    </div>

    <div>

        <img src="../static/images/capa.png" alt="university-banner">


    </div>

    <div>
        <h2>Sobre a universidade</h2>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi sed, fugit error quidem laboriosam nesciunt, aut velit adipisci quis ratione amet sit. Nostrum, dolorem? Sapiente excepturi autem pariatur sequi totam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quos aliquam explicabo autem impedit possimus perferendis repudiandae, minima ex in tenetur animi alias voluptate fugit aperiam ipsa neque dolores esse?</p>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nam ipsam illo iusto quod. Reiciendis veniam tempora soluta, quis odio voluptates aut ipsum dignissimos eius! Beatae magni quaerat iste aut! Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur temporibus ipsam numquam amet laborum similique rem at magnam maiores iure. Veniam provident aliquid sint magni perspiciatis molestias commodi quaerat officiis?</p>

    </div>
    
    <div>

        <strong>Todos os direitos reservados</strong>

    </div>

</body>
</html>